canvas#matrix {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", monospace;
}

body {
    background: radial-gradient(circle at top, #050505, #000);
    color: #00ffcc;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #00ffcc;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #00ffcc;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: #ff004c;
}

/* TERMINAL */
main {
    display: flex;
    justify-content: center;
    padding: 60px 20px;
}

.terminal {
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid #00ffcc;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 25px #00ffcc55;
    text-align: center;
}

.terminal h1 {
    margin-bottom: 10px;
    text-shadow: 0 0 10px #00ffcc;
}

.tagline {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    background: #000;
    border: 1px solid #00ffcc;
    color: #00ffcc;
    margin-bottom: 15px;
}

button {
    background: #f56e35;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #f79800;
    color: #fff;
}

/* VIDEO INFO */
#video img {
    width: 100%;
    margin: 15px 0;
    border: 1px solid #00ffcc;
}

select {
    width: 100%;
    padding: 8px;
    background: #000;
    color: #00ffcc;
    border: 1px solid #00ffcc;
}

/* PROGRESS */
.progress {
    width: 100%;
    height: 8px;
    background: #111;
    margin-top: 15px;
}

#bar {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #00ffcc, #ff004c);
}

/* SECTIONS */
.section {
    padding: 60px 20px;
    text-align: center;
}

.section h2 {
    margin-bottom: 15px;
    text-shadow: 0 0 8px #00ffcc;
}

.section span {
    color: #ff3232;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 15px;
    border-top: 1px solid #00ffcc;
    background: #000;
    font-size: 13px;
}

.hidden {
    display: none;
}


.theme-btn {
    background: transparent;
    border: 1px solid #00ffcc;
    color: #00ffcc;
    padding: 5px 10px;
    cursor: pointer;
}

.light {
    background: #000000;
    color: #ffffff;
}

.light .terminal,
.light .logs {
    background: #8eec0000;
    color: #ffffff;
    border-color: #ffffff;
}
